* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(255, 255, 255), rgb(247, 236, 236));
    height: 100vh;
    width: 100vw;
}

.console {
    height: 100vh;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    z-index: 2;
    position: relative;
    width: 70%;
    height: 65%;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;

}

.console_style {
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 1;
    width: 80%;
    height: 70%;
    background-color: black;
    border-radius: 10%;
}



.mario{
    position: absolute;
    width: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.barraDeVida{
    position: absolute;
    right: 50%;
    bottom: 30px;
    height: 50px;
    z-index: 4;
}

.score {
    position: absolute;
    left: 30px;
    top: 30px;

    color: rgb(189, 174, 93);
}

.vida {
    position: absolute;
    left: 30px;
    top: 7px;

    color: rgb(189, 174, 93);
}

#anuncio {
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    animation: anuncio_animation 3s infinite linear;
    margin-top: 25%;
    z-index: 2;
}


#anuncio1 {
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    animation: anuncio_animation 4s infinite linear;
    margin-top: 10%;
    z-index: 2;
}


#anuncio2 {
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    animation: anuncio_animation 2s infinite linear;
    margin-top: 50%;
    z-index: 2;
}

#anuncio3 {
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    animation: anuncio_animation 4.6s infinite linear;
    margin-top: 20%;
    z-index: 2;
}

#anuncio4 {
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    animation: anuncio_animation 1s infinite linear;
    margin-top: 40%;
    z-index: 2;
}

#anuncio5 {
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    animation: anuncio_animation 3.5s infinite linear;
    margin-top: 35%;
    z-index: 2;
}



@keyframes anuncio_animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}